.item-users{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#MenuHs .menu>li:hover>a, #MenuHs .menu>li:hover>span, #MenuHs .menu>li.sel>a, #MenuHs .menu>li.sel>span
{
    color: white;
    font-size: 14px;
    opacity: 1.0;
    padding: 12px 15px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    background: #FFAC28;
}

#MenuHs .menu>li>a, #MenuHs .menu>li>span {
    color: white;
    font-size: 14px;
    opacity: .8;
    padding: 12px 15px 12px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    text-transform: uppercase;
    transition: .2s background-image;
}
#MenuHs ul.menu, #MenuHs li, #MenuHs li a, #MenuHs li span {
    display: inline-block;
}
.headerStyleTelcel{
    height: 65px !important;
}


.fa-solid.fa-gear{
    color: #f5f5f5;
}

button#dropdownMenuButton1 {
    background: transparent;
    border: none;
}

.blue1 {
	background-color: #89a9e7 !important;
}
.blue2 {
	background-color: #4483cb !important;
}
.blue3 {
	background-color: #0072bf !important;
}
.blue4 {
	background-color: #105ea9 !important;
}
.blue5 {
	background-color: #003179 !important;
}

.list-group-item.list-group-item-action.active{
    color: #f5f5f5;
    text-transform: uppercase;
    background-color: #FFAC28 !important;
}

.headerStyleTelcel {
	background-color: #003179;
	border-bottom: 5px solid #89a9e7;
	padding-top: 5px;
	padding-right: 10px;
	color: white;
	height: 46px !important;
	width: 100%;
}



:root {
    --nine-gray: #999;
}

.infoCard {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infoCard__title {
    background-color: #8faadc;
    border-radius: 15px;
    position: relative;
    padding: 0.5rem 1rem 0.75rem 1rem;
    box-shadow: 5px 2px 3px var(--nine-gray);
}

.infoCard__h1 {
    margin-bottom: 0;
    color: #FFF;
    border-left: 4px solid #FFF;
    padding-left: 1rem;
}

.hexagonBorder {
    position: absolute;
    right: -49px;
    top: -10px;
    background-color: #5b9bd5;
    height: 88px;
    width: 98px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    box-shadow: 5px 2px 3px var(--nine-gray);
}

.hexagon {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #FFF;
    height: 82px;
    width: 92px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoCard__content {    
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 1rem 2rem;
    border-top: none;
    border-radius: 0 0 3rem 3rem;
    box-shadow: 0px 3px 5px var(--nine-gray);
}

.infoCard__label {
    min-width: 15%;
    color: var(--nine-gray);
}

.infoCard__input,
.infoCard__input--textarea {
    height: 32px;
    width: 300px;
    padding-left: .5rem;
    border-radius: 6px;
    border: 1px solid #AAA;
    box-shadow: 1px 3px 3px var(--nine-gray);
}

.infoCard__input:focus-visible,
.infoCard__input--textarea:focus-visible {
    outline: none;
}


.selectDiv {
    position: relative;
    display: inline;
}

.selectDiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.selectDiv i {
    position: absolute;
    height: 32px;
    width: 32px;
    background: #8faadc;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    right: 0px;
    z-index: -1;
}

.infoCard__input--textarea {
    height: 64px;
}

.contactBtn {
    padding: .15rem 2rem;
    color: #FFF;
    font-size: 20px;
    background-color: #8faadc;
    border: none;
    border-radius: 6px;
    margin: 1rem auto;
    transition: background-color .3s ease;
}

.contactBtn:hover {
    background-color: #5b9bd5;
}

@media (max-width: 575.98px) {
    .hexagonBorder {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .infoCard__input,
    .infoCard__input--textarea {
        width: 100%;
    }
}