body {
    background-image: url(/images/defaultBackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative;
    padding-bottom: 3em;
    min-height: 100vh; */
    /* display: flex;
    flex-direction: column; 
    /* display: grid;
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh; */
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* menu */
#list-tab {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.fa-solid.fa-gear {
    color: #f5f5f5;
}

button#dropdownMenuButton1 {
    background: transparent;
    border: none;
    color: #f5f5f5;
}

.blue1 {
    background-color: #89a9e7 !important;
}
.blue2 {
    background-color: #4483cb !important;
}
.blue3 {
    background-color: #0072bf !important;
}
.blue4 {
    background-color: #105ea9 !important;
}
.blue5 {
    background-color: #003179 !important;
}

.list-group-item.list-group-item-action.active {
    background-color: #ffac28 !important;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    padding-top: 0.8rem;
}

header {
    padding-bottom: 3rem;
}
.item-sub {
    z-index: 100;
    position: relative;
}

.header-item {
    background-color: #003179;
    border-bottom: 5px solid #89a9e7;
    color: white;
    height: 120px !important;
}

.item-users {
    display: flex;
    flex-wrap: wrap;
}

.item-users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-client {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.l-telcel{
    border-radius: 6px;
}

.linkWhite.m-2,
.dropdown {
    display: flex;
    align-items: center;
}

.menu-hidden {
    display: none;
}

.image-telcel {
    margin-left: 3rem;
    /* width: 120px;
    height: 80px; */
    /* padding-top: .4rem;
    padding-bottom: .8rem; */
    
}

@media (max-width: 915px) {
    .image-telcel {
        display: none;
    }
}

@media (max-width: 768px) {
    .item-nav {
        display: none;
    }

    #list-tab {
        flex-direction: column;
    }
    .menu-hidden {
        display: block;
        color: #000;
        display: flex;
        align-items: center;
    }
    .infoCard {
        margin-top: 8rem;
    }
    .linkWhite.m-2 > a,
    i.fa-solid.fa-circle-user.fa-2x,
    .fa-solid.fa-gear {
        color: #003179 !important;
        text-decoration: none;
    }
}

@media (max-width: 650px) {
    #list-tab {
        flex-wrap: wrap;
    }
}
.list-group-item.active,
.list-group-item {
    border: none !important;
    padding: 0 !important;
    color: #f5f5f5 !important;
}

.list-group-item.active,
.list-group-item {
    border: none !important;
    padding: 0 !important;
    color: #f5f5f5 !important;
}

#list-tab > a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

#list-tab > a:hover {
    background-color: #ffac28 !important;
}

.linkWhite.m-2 > a,
i.fa-solid.fa-circle-user.fa-2x {
    color: #f5f5f5;
    text-decoration: none;
}

.img-carousel {
    background-position: center;
    background-size: cover;
    height: auto;
    max-width: 100%;
    width: 1256px;
    display: block;
    margin: 0 auto;
}

#content > div{
    display: flex;
    flex-direction: column-reverse;
}

.carousel-control-prev,
.carousel-control-next{
    -webkit-align-items: center !important;
    align-items: center !important;
    background-color: rgb(158 156 156) !important;
    border: none !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.12) !important;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%) !important;
    cursor: pointer !important;
    display: -webkit-flex !important;
    display: flex !important;
    height: 64px !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    /* opacity: 0; */
    padding: 0 !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    /* border-top-right-radius: 64px !important; */
    width: 32px !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: #f5f5f5;
}

.carousel-controls{
    background: #f0e2e2;
    display: flex;
    justify-content: flex-end;
}

.play,
.pause{
    margin-right: 1rem;
}

i.fa-solid.fa-pause,
i.fa-solid.fa-play{
    font-size: 1.4rem;
    padding: 0.4rem;
}

.item-questions{
    display: flex;
    /* flex-wrap: wrap; */
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: '\2b';
    font-family: 'Font Awesome 6 Free';
}

.accordion-button::after {
    background-image: none !important;
    content: '\2b' !important;
    font-family: 'Font Awesome 5 Free';
    transform: rotate(90deg);
}

/* hexagonoso dashboard */

.hexagonBorderD {
    position: absolute;
    right: -23px;
    top: -16px;
    background-color: #5b9bd5;
    height: 68px;
    width: 78px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    box-shadow: 5px 2px 3px var(--nine-gray);
}

.hexagonD {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #fff;
    height: 62px;
    width: 72px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.titles-dashboard.col-md-12{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.titles-dashboard.col-md-12 > .infoCard__title{
    margin-right: 1.6rem;
    width: 100%;
    margin-bottom: 2rem;
}

@media (max-width:1024px) {
    .titles-dashboard.col-md-12{
        flex-wrap: wrap;
    }
}

/* footer */
footer {
    background: #00549E;
    margin-top: 5rem;
    padding: 20px 0;

}

.row-fluid.hidden-tablet.hidden-desktop{
    display: none;
}

.row-fluid.hidden-phone {
    display: flex;
    justify-content: space-between;
}

.pane.span8 > p {
    margin-top: -49px;
}

@media (max-width:560px){
    .row-fluid.hidden-phone {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.coontainer{
    display: block;
}

.hiddenItems{
    display: none;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s;
    max-width: 812px;
    border-radius: var(--border-radius-primary);
}

@media (max-width: 915px) {
    .image-telcel {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .header-item {
        height: 140px;
    }
}

@media (max-width: 650px) {
    #list-tab {
        flex-wrap: wrap;
    }
}

@media (max-width: 575.98px) {
    .linkWhite.m-2 > a,
    i.fa-solid.fa-circle-user.fa-2x,
    .fa-solid.fa-gear {
        color: #003179 !important;
        text-decoration: none;
    }
    #list-tab {
        flex-direction: column;
    }
    .item-nav {
        display: none;
        margin-left: -1rem;
        margin-right: -1rem;
    }    
    .menu-hidden {
        display: block;
        color: #003179;
        display: flex;
        align-items: center;
    }
    .header-item {
        height: 160px;
    }
    .list-group-item.active,
    .list-group-item {
        padding: .5rem 0 !important;
    }
}
